<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script>

  $( function() {
    $( "#accordion" ).accordion({
      heightStyle: "content",
      collapsible: true,
      active: false,
    });
  } );

  </script>

<div id="faq" class="container mx-auto px-5 py-20 md:py-40">
  <h3 class="text-3xl md:text-6xl leading-tight font-bold text-white pb-12 text-center w-full">
    FAQ
  </h3>

  <div id="accordion">
    {{ range .Params.faq }}
      <h3 class="w-full p-6 border border-gray-500 text-white mt-4 cursor-pointer hover:bg-gray-900">{{ .title }}</h3>
      <div class="p-6 border-b border-l border-r border-gray-500">
        {{ .copy | markdownify }}
      </div>
    {{ end }}
  </div>
</div>
