<div id="roadmap" class="w-full bg-gray-900 relative">

  <div id="first-dot" class="w-2 h-2 rounded-full bg-gray-700"></div>

  <div class="bg-gray-700 w-px h-full absolute hidden md:block md:left-1/2"></div>

  <div id="roadmap-circle">
    <svg class="rotate" viewBox="0 0 100 100" width="100" height="100">
      <defs>
        <path id="circle" d="
            M 50, 50
            m -37, 0
            a 37,37 0 1,1 74,0
            a 37,37 0 1,1 -74,0"/>
      </defs>
      <text class="text-xs">
        <textPath xlink:href="#circle">
          ROADMAP
        </textPath>
      </text>
    </svg>
  </div>

  <div class="container mx-auto px-5 pt-40">

    {{ range .Params.roadmap }}
    <div class="flex justify-between pb-20 md:pb-40">
      <div class="w-full md:w-5/12 flex flex-col md:flex-row md:justify-end">
        <h3 class="text-white text-3xl md:text-6xl leading-right font-medium pb-5 md:pb-0 md:text-right">
          <span class="text-xs pr-2 text-gray-400">{{ .mark }}</span>{{ .title }}
        </h3>
        <div class="md:hidden">
          {{ .copy | markdownify}}
        </div>
      </div>

      <div class="hidden md:block w-1/12 pt-6 md:pt-14">
        <div class="w-2 h-2 rounded-full bg-gray-700 md:mx-auto"></div>
      </div>

      <div class="hidden md:block md:w-5/12 pt-10">
        {{ .copy | markdownify}}
      </div>
    </div>
    {{ end }}

  </div>

</div>

<div class="w-full bg-gray-900 pb-20 md:pb-40">
  <button type="button" name="button" class="block mx-auto">
    <a class="uppercase text-white px-12 py-6 border border-gray-500 block hover:text-black hover:bg-white transition transition-100" href="{{ .Params.roadmapBtnLink | safeURL}}" target="_blank">{{ .Params.roadmapBtnLabel }}</a>
  </button>
</div>
