body {
  font-family: Futura,Trebuchet MS,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  @apply pb-5;

  @media (mix-width: 1024px) {
    @apply pb-10;
  }
}

#logo {
  width: 80px;
  height: auto;
}

#roadmap-circle {
  top: -70px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;

  svg {
    fill: currentColor;
    height: auto;
    max-width: 66vmin;
    transform-origin: center;
    width: 140px;
    letter-spacing: 1.5em;
  }
}

#first-dot {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -4px;
}

.rotate {
  animation: rotation 45s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}
