{{ define "main" }}

  <video playsinline autoplay muted loop class="fixed object-cover h-screen md:w-screen opacity-75">
    <source src="{{ .Params.video }}" type="video/mp4">
  </video>

  <div class="max-w-3xl mx-auto px-5 md:px-0 animate__animated animate__fadeIn md:absolute md:top-1/2 md:left-1/2 md:transform md:-translate-y-1/2 md:-translate-x-1/2 overflow-hidden">

      <div class="pt-24 md:pt-0 pb-12 mx-auto text-white text-center text-lg">
        <img src="{{ .Params.image }}" alt="" class="w-52 mb-8 mx-auto">
        <p class="mb-6">{{ .Params.copy | markdownify}}</p>
        <a href="{{ .Params.link}}" class="py-2 border-b border-white">{{ .Params.email}}</a>
        <img src="{{ .Params.gif }}" alt="" class="mx-auto">
      </div>

  </div>

{{ end }}
